<h5>Comments</h5>
<div class="container">
<div class="row">

 <%= simple_form_for [@event, @comment] do |form| %>
   <%= form.input :body, label: false %>
       <%= form.submit class: 'btn btn-secondary' %>
 <% end %>
</div>
</div>
