/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require font-awesome
  *= stub active_admin
  *= require font-awesome
  *= require_tree .
  *= require_self
  */

  @import url(https://fonts.googleapis.com/css?family=Ubuntu);

  html {
    font-family: 'Helvetica Neue', sans-serif;
    height: 100%;
  }

  * {
    font-family: Ubuntu, sans-serif;
  }

  // navigation

  .navbar-nav{
    margin-left: auto;
  }

  .navbar{
    border-style: solid;
    border-color: rgba(80,90,220,0.5);
    border-left:none;
    border-right: none;
    border-top: none;
  }

.nav-item{
  font-family: Helvetica;
  font-size: 0.8em;
  font-weight: lighter;
}

#video-container{
  padding:0;
  margin:0;
}

.front-text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgba(0,0,0,1);
    font-size: 250%;
    margin-top: 10%;
    border-style: solid;
    padding-left: 10px;
    border-width:thin;
    border-color: none;
    border-left: none;
    background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.4), rgba(255,255,255,0.3), rgba(255,255,255,0.2));
    border-right: none;
}



  body {
    min-height:100%;
    position:relative;
    padding-bottom: 130px;
    margin:0;

  }

  main {
    background-color: none;
  }

  .jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
  }

  .bottom-body {
    background-color: rgba(230,230,255,1)
  }

  .bottom-container {
    background-color: rgba(230,230,255,1);
    margin:auto;
    margin-left:none;
    margin-right:none;
  }

  .video {
    padding:0;
    margin: 0;
  }

  .footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:130px;
    background-color: rgba(80,90,220,0.5);
    color: white;
    padding-top:5px;


  }

  .footer-social-icons {
    width: 350px;
    display: block;
    margin: 0 auto;


  }

  .footer-social-icons p {
    margin-top: 10px;
  }


  .footer_up {
    position: relative;
    padding: .5rem;
    margin: 0px;
    padding-top: 12px;
    background-color: #293d52;
    text-align: center;
    color: #fff;
    height: 6em;
  }


  .social-icon {
    color: #fff;
  }

  ul.social-icons {
    margin-left: 0px;
    padding: 0px;
  }

  .social-icons li {
    vertical-align: top;
    display: inline;
    height: 50px;
  }

  .social-icons a {
    color: #fff;
    text-decoration: none;
  }

  .footer-social-icons {
    width: 350px;
    display: block;
    margin: 0 auto;
  }

  .fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #888888;
    border-radius: 10px;
  }

  .fa-facebook:hover {
    background-color: #3d5b99;
  }

  .fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #888888;
    border-radius: 10px;
  }

  .fa-twitter:hover {
    background-color: #00aced;
  }

  .fa-youtube {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #293d52;
    border-radius: 10px;
  }

  .fa-youtube:hover {
    background-color: #e64a41;
  }



  .fa-linkedin {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #293d52;
    border-radius: 10px;
  }

  .fa-linkedin:hover {
    background-color: #0073a4;
  }

  .linksstyle{
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .footer-social-icons {
    width: 350px;
    display: block;
    margin: 0 auto;
  }

  .social-icon {
    color: #fff;
  }

  ul.social-icons {
    margin-left: 0px;
    padding: 0px;
  }

  .social-icons li {
    vertical-align: top;
    display: inline;
    height: 50px;
  }

  .social-icons a {
    color: #fff;
    text-decoration: none;
  }

  .fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #293d52;
  }

  .fa-facebook:hover {
    background-color: #3d5b99;
  }

  .fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #293d52;
  }

  .fa-twitter:hover {
    background-color: #00aced;
  }

  .fa-youtube {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #293d52;
  }

  .fa-youtube:hover {
    background-color: #e64a41;
  }



  .fa-linkedin:hover {
    background-color: #0073a4;
  }


// start events show page
#map-col, #show-col{
  padding: 0;
}

//card body

.card-body {
  height: 225px;
  overflow: auto;
  // background-color:
}

.comment-list-item {
    border-left: solid medium  rgba(80,90,220,0.5);
    padding-left: 0.5rem
  }


// end events show page

// start events index

.events-heading{
  text-align: center;
}

.events-button{
  text-align: right;
}

.events-search{
  text-align:left;
}

#events-heading, #events-button, #events-search{
  padding: 0px;
}

.card-img-top{
  height: 30vh;
}

.card-outline-secondary{
  margin-bottom: 10px;
}
// end events index

//Nearby events
.nearby-map{
  padding-bottom: 10px;
  border-radius: 10px;
}
//Nearby events end


//modal design
.newEventModal{

}
.modal-team{
   border-right: thin rgba(200, 200, 200, 0.5) solid;
 }

 .modal-body {
   background-color: rgba(250, 250, 250, 0.9);
 }

//end modal

#discount-button{
  text-align:right;
}


  @import "bootstrap"
